Repository ElijahA1/QuizApp, changes with the owners that CODEOWNERS names for each.
All owners: @jeromecagado, @ElijahA1, @o11o01, @Stephen-Beck

CODEOWNERS:

#
# pattern:
#
# file/directory    user
#

*.jsx    @jeromecagado
*.jsx    @ElijahA1

*.cs    @o11o01
*.cs    @Stephen-Beck

Create Button.jsx
  Button.jsx
Owners: @ElijahA1

Basic React Files Added. Unneccessary files & images removed.
  quizit/.gitignore
  quizit/REACTREADME.md
  quizit/package-lock.json
  quizit/package.json
  quizit/public/index.html
  quizit/public/manifest.json
  quizit/public/robots.txt
  quizit/src/App.css
  quizit/src/App.js
  quizit/src/App.test.js
  quizit/src/index.css
  quizit/src/index.js
  quizit/src/reportWebVitals.js
  quizit/src/setupTests.js
Owners: none

Base Question Display page components and layout added.
  quizit/package-lock.json
  quizit/package.json
  quizit/src/App.css
  quizit/src/App.js
  quizit/src/Components/QuestionGenerator/QuestionGenerator.css
  quizit/src/Components/QuestionGenerator/QuestionGenerator.js
  quizit/src/Components/QuizForm/CategoryPicker/CategoryPicker.css
  quizit/src/Components/QuizForm/CategoryPicker/CategoryPicker.js
  quizit/src/Components/QuizForm/QuestionCounter/QuestionCounter.css
  quizit/src/Components/QuizForm/QuestionCounter/QuestionCounter.js
  quizit/src/Components/QuizForm/QuizForm.css
  quizit/src/Components/QuizForm/QuizForm.js
  quizit/src/Components/QuizForm/RadioButtons/RadioButtons.css
  quizit/src/Components/QuizForm/RadioButtons/RadioButtons.js
  quizit/src/Components/SideBar/SideBar.css
  quizit/src/Components/SideBar/SideBar.js
Owners: none

Added dummy data flow with mock JSON and controlled QuizForm. Categories to match the excel sheet form and parsed from public.
  quizit/public/mock/questions.json
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Added functionallity to quiz form radio buttons. Question form now pulls mock data from questions.json
  quizit/src/App.css
  quizit/src/App.js
  quizit/src/Components/QuestionGenerator/QuestionGenerator.css
  quizit/src/Components/QuestionGenerator/QuestionGenerator.js
  quizit/src/Components/QuizForm/CategoryPicker/CategoryPicker.js
  quizit/src/Components/QuizForm/QuizForm.css
  quizit/src/Components/QuizForm/QuizForm.js
  quizit/src/Components/QuizForm/RadioButtons/RadioButtons.js
  quizit/src/Components/SideBar/SideBar.css
Owners: none

Add api folder
  quizit/src/api/questions.js
Owners: none

Deleted useless comment
  QuizApp_API/.vs/QuizApp_API/CopilotIndices/17.14.1147.5054/CodeChunks.db
  QuizApp_API/.vs/QuizApp_API/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
  QuizApp_API/.vs/QuizApp_API/FileContentIndex/fa090b82-48c1-418e-bcf9-8e2bad8aa714.vsidx
  QuizApp_API/.vs/QuizApp_API/v17/.suo
  QuizApp_API/.vs/QuizApp_API/v17/DocumentLayout.backup.json
  QuizApp_API/.vs/QuizApp_API/v17/DocumentLayout.json
  QuizApp_API/Controllers/QuestionsController.cs
Owners: @Stephen-Beck

Added fetch request and .env for local and .env.example for team to replicate. Will update Readme.
  quizit/.env.example
  quizit/.gitignore
  quizit/src/api/questions.js
Owners: none

Update README.md
  README.md
Owners: none

Filtering functionality added
  quizit/package-lock.json
  quizit/src/App.js
  quizit/src/Components/QuestionGenerator/QuestionGenerator.js
  quizit/src/Components/QuizForm/CategoryPicker/CategoryPicker.css
  quizit/src/Components/QuizForm/CategoryPicker/CategoryPicker.js
  quizit/src/Components/QuizForm/QuestionCounter/QuestionCounter.js
  quizit/src/Components/QuizForm/QuizForm.css
  quizit/src/Components/QuizForm/QuizForm.js
  quizit/src/Components/QuizForm/SearchBar/SearchBar.css
  quizit/src/Components/QuizForm/SearchBar/SearchBar.js
Owners: none

Added handling for empty strings on CSV import Previously only handled null strings
  QuizApp_API/Controllers/QuestionsController.cs
  QuizApp_API/DTOs/FileUploadDTO.cs
  QuizApp_API/Program.cs
  QuizApp_API/Services/CsvImporter.cs
Owners: @Stephen-Beck

Added localhost for the backend as a proxy.
  QuizApp_API/Program.cs
  quizit/.env
  quizit/package.json
Owners: @Stephen-Beck

Tested fetch commands from the front end and was able to pull real data from DB.
  quizit/.env
  quizit/package.json
  quizit/src/Components/QuestionGenerator/QuestionGenerator.js
  quizit/src/api/questions.js
Owners: none

Clean up tracked IDE and build files
  QuizApp_API/.gitignore
  QuizApp_API/.vs/GroupProject_API/CopilotIndices/17.14.1147.5054/CodeChunks.db
  QuizApp_API/.vs/GroupProject_API/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
  QuizApp_API/.vs/GroupProject_API/FileContentIndex/1f5f8250-2721-4b11-b7eb-bff7c0d02316.vsidx
  QuizApp_API/.vs/GroupProject_API/FileContentIndex/3183e5b8-5e77-4b80-83e2-e60e56b06ef4.vsidx
  QuizApp_API/.vs/GroupProject_API/FileContentIndex/59e5ece7-4721-4b18-bc80-aa2d66b80fab.vsidx
  QuizApp_API/.vs/GroupProject_API/FileContentIndex/7f752932-a4bb-4b95-ae5d-091ec7e35a53.vsidx
  QuizApp_API/.vs/GroupProject_API/FileContentIndex/ca0ec3b0-1c52-4955-8de6-0791b57d5d14.vsidx
  QuizApp_API/.vs/ProjectEvaluation/groupproject_api.metadata.v9.bin
  QuizApp_API/.vs/ProjectEvaluation/groupproject_api.projects.v9.bin
  QuizApp_API/.vs/ProjectEvaluation/groupproject_api.strings.v9.bin
  QuizApp_API/.vs/ProjectEvaluation/quizapp_api.metadata.v9.bin
  QuizApp_API/.vs/ProjectEvaluation/quizapp_api.projects.v9.bin
  QuizApp_API/.vs/ProjectEvaluation/quizapp_api.strings.v9.bin
  QuizApp_API/.vs/QuizApp_API/CopilotIndices/17.14.1147.5054/CodeChunks.db
  QuizApp_API/.vs/QuizApp_API/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
  QuizApp_API/.vs/QuizApp_API/DesignTimeBuild/.dtbcache.v2
  QuizApp_API/.vs/QuizApp_API/FileContentIndex/027feb76-d006-4173-85fc-62b108be0b27.vsidx
  QuizApp_API/.vs/QuizApp_API/FileContentIndex/584e87b2-d2fb-484e-aa2c-73dd974209f8.vsidx
  QuizApp_API/.vs/QuizApp_API/FileContentIndex/87e2e97d-f86e-48db-b9e3-ec0a599befa4.vsidx
  QuizApp_API/.vs/QuizApp_API/FileContentIndex/8988f83d-508e-45b3-9d8a-7cc0b633df53.vsidx
  QuizApp_API/.vs/QuizApp_API/config/applicationhost.config
  QuizApp_API/.vs/QuizApp_API/v17/.futdcache.v2
  QuizApp_API/.vs/QuizApp_API/v17/.suo
  QuizApp_API/.vs/QuizApp_API/v17/DocumentLayout.backup.json
  QuizApp_API/.vs/QuizApp_API/v17/DocumentLayout.json
Owners: none

Update .gitignore and cleanup untracked files
  QuizApp_API/.editorconfig
  QuizApp_API/.gitignore
Owners: none

Fixed merge issues, frotend and backend handshake works.
  QuizApp_API/Program.cs
  QuizApp_API/Properties/launchSettings.json
  QuizApp_API/bin/Debug/net8.0/QuizApp_API.dll
  QuizApp_API/bin/Debug/net8.0/QuizApp_API.exe
  QuizApp_API/bin/Debug/net8.0/QuizApp_API.pdb
Owners: @Stephen-Beck

Update README.md
  README.md
Owners: none

Require API key for write endpoints (POST/PUT/DELETE)
  QuizApp_API/Controllers/QuestionsController.cs
  QuizApp_API/Program.cs
Owners: @Stephen-Beck

Page files added. Home page created.
  quizit/package-lock.json
  quizit/package.json
  quizit/src/App.js
  quizit/src/Assets/images/github.png
  quizit/src/Assets/images/linkedin.png
  quizit/src/Components/QuestionCounter/QuestionCounter.css
  quizit/src/Components/QuestionCounter/QuestionCounter.js
  quizit/src/Components/QuizForm/QuizForm.js
  quizit/src/Components/RadioButtons/RadioButtons.css
  quizit/src/Components/RadioButtons/RadioButtons.js
  quizit/src/Pages/Home/Home.css
  quizit/src/Pages/Home/Home.js
  quizit/src/Pages/Landing/Landing.css
  quizit/src/Pages/Landing/Landing.js
Owners: none

Home Page Finished/Page Navigation added
  quizit/src/App.js
  quizit/src/Components/SearchBar/SearchBar.css
  quizit/src/Components/SearchBar/SearchBar.js
  quizit/src/Pages/Home/Home.css
  quizit/src/Pages/Home/Home.js
  quizit/src/Pages/Landing/Landing.js
Owners: none

Testing pages added. Index title changed.
  quizit/public/index.html
  quizit/src/App.css
  quizit/src/App.js
  quizit/src/Assets/mock/questions.json
  quizit/src/Components/SideBar/SideBar.css
  quizit/src/Components/SideBar/SideBar.js
  quizit/src/Pages/Home/Home.js
  quizit/src/Pages/Landing/Landing.css
  quizit/src/Pages/Landing/Landing.js
  quizit/src/Pages/Score/Score.css
  quizit/src/Pages/Score/Score.js
  quizit/src/Pages/StartTest/StartTest.css
  quizit/src/Pages/StartTest/StartTest.js
  quizit/src/Pages/Test/Test.css
  quizit/src/Pages/Test/Test.js
Owners: none

Minor styling adjustments
  quizit/src/Pages/Home/Home.css
Owners: none
